{% extends 'Visitor/Association/layoutAssociation.html.twig' %}

{% block title %}Wastity - Offres Associations{% endblock %}
{% block stylesheets %}{{ encore_entry_link_tags('css/appAssociation') }}{% endblock %}

{% block body %}

    <div class="container">
        <h1 class="text-center">Liste des offres en attente</h1>
        <div class="row justify-content-center">
            {% for offer in offers %}
                <div class="col-12 col-sm-6 col-lg-4 pb-3">
                    <div class=" associationOfferBorder">
                        <img class="card-img-top" src="{{ offer.picture }}" alt="Image de l'offre">
                        <div class="card-body">
                            <h5 class="card-title text-primary"><strong>Nom de l'entreprise</strong></h5>
                            <p class="card-text">adresse entreprise</p>
                            <p class="card-text"><strong>Produits:</strong> {{ offer.description }}</p>
                            <p class="card-text"><strong>Quantité:</strong> {{ offer.weight }} kg </p>

                            <div class=" d-flex justify-content-end">
                                <a href="#" class="btn btn-association align-content-end">Accepter l'offre</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}