{% extends 'base.html.twig' %}

{% block title %}Wastity - Offres{% endblock %}
{% block stylesheets %}{{ encore_entry_link_tags('css/appCompany') }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center text-center">
            <div>
                <p class="fa text-center text-info mt-3 mb-2"><strong>Liste des offres en attente</strong></p>
            </div>
        </div>
        <div class="row justify-content-center">
            {% for offer in offers %}
                <div class="col-12 col-sm-6 col-lg-4 pb-3">
                    <div class="card border-primary">
                        <img class="card-img-top" src="{{ offer.picture }}" alt="Image de l'offre">
                        <div class="card-body">
                            <h5 class="card-title text-primary"><strong>Nom de l'entreprise</strong></h5>
                            <p class="card-text">adresse entreprise</p>
                            <p class="card-text"><strong>Produits:</strong> {{ offer.description }}</p>
                            <p class="card-text"><strong>Quantité:</strong> {{ offer.weight }} kg </p>
                            <div class=" d-flex justify-content-end">
                                <a href="#" class="btn btn-primary align-content-end">Accepter l'offre</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}