{% extends 'Admin/layoutAdmin.html.twig' %}
{% block title %}Entreprise{% endblock %}
{% block body %}
    <div class="container">
        <table class="table table-striped mt-5 mb-5">
            <tbody>
            <tr>
                <th scope="col">Nom</th>
                <td>{{ offer.id }}</td>
            </tr>
            <tr>
                <th scope="col">Type d'entreprise</th>
                <td>{{ offer.weight }}</td>
            </tr>
            <tr>
                <th scope="col">Action</th>
                <td>
                    {{ include('Admin/activeForm.html.twig') }}
                </td>


            </tr>
            </tbody>
        </table>
        <div class="row">
            <a class="col text-center" href="{{ path('company_index') }}">Retour à la liste des Entreprises</a>
        </div>
    </div>
{% endblock %}