@import "~bootswatch/dist/united/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/united/bootswatch";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "projectVar";

body {
  background-color: $primaryColor;
  font-family: $font;
  margin: 0;
  margin-bottom: $marginBottom;
  .container {
    .card {
      margin-top: 5%;
      margin-bottom: 5%;
      .img{
        max-height: 200px;
      }
    }
    img{
      object-fit: cover;
      max-height: 200px;
    }
  }
}
.wastity_blanc{
  height: $headerTitle;
}
.container-fluid {
  padding: 0;
  margin: 0;
}

.row {
  margin-left: 0;
  margin-right: 0;
}
.msg-flash{
  margin-bottom:-15px;
}

h1 {
  font-size: $headerTitle;
}

.navbar {
  background-color: darken($primaryColor, 10%);
  padding: 0;
  display: block;
}

.navbar-brand {
  text-align: center;
  border-radius: 15%;
  margin-top: 0.5em;

  .fas {
    font-size: 1.5em;
  }

  p {
    font-size: 0.8em;
    margin-bottom: 0;
  }
}

.msg-flash {
  font-size: 1.5em;
}

.custom-file-label::after {
  content: $browse;
}

.card-body {
  padding: 0;
}

.card-header {
  padding: 0.2rem 1rem;
}

@media screen and (max-width: 699px) {
  .card {
    p {
      font-size: 0.8em;
      margin-bottom: 0;
    }
    img {
      height: 120px;
    }
    li {
      font-size: 0.8em;
    }
  }
}

body .container .card {
  margin-bottom: 0;
  width: 95vw;
}

@media screen and (min-width: 700px) {
  body .container .card {
    width: 700px
  }
}

ul {
  list-style-type: none;
}
.col-6 {
  flex: none;
}

label.required::after {
  content:' *';
  color: $required;
}
legend.required::after {
  content:' *';
  color: $required;
}

@mixin card($color){
  box-shadow: 1px 1px 10px 1.5px darken($primaryColor, 80%);
  a:hover{
    text-decoration: none;
  }
  .card-header{
    color: $primaryColor;
    background-color: $color;
    clip-path: polygon(0 0, 100% 0, 100% 85%,55% 85%,50% 100%,45% 85%,0 85%);
    height: 12vh;
    .image{
      height: 8vh;
    }
    h3{
      font-size:2.5vh;
      font-weight: bold;
      padding-left: 0;
    }
    p{
      font-size:2vh;
      margin-left:4px;
    }
  }
  .card-body{
    h1{
      font-size: 3vh;
      font-weight: bold;
      margin-top: 1.5vh;
    }
    p{
      font-size: 1.8vh;
      margin-left: 1vw;
      margin-right: 1vw;
      margin-bottom: 2vh;
    }
    li{
      color: darken($primaryColor, 100%);
      font-weight: 500;
    }
    .fas{
      color: $foodHeroColor;
    }
    .imgOffer{
      margin-bottom: 1vh;
    }
    strong{
      color:$foodHeroColor;
    }
    color: darken($primaryColor, 100%);
  }

  .btn {
    font-size: small;
    background-color: $color;
    color : $primaryColor;
    font-weight: bold;
  }
  .card {
    color : $primaryColor;
    font-weight: bold;
    a{

      &:link {
        text-decoration: none;
      }
    }

  }
}