@import "~bootswatch/dist/united/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/united/bootswatch";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "projectVar";

html {
  height: 100%;
}

body {
  background-color: $primaryColor;
  font-family: $font;
  min-height: 100%;
  margin: 0;
  padding-bottom: 100px;
  .container {
    .card {
      margin-top: 5%;
      margin-bottom: 5%;
    }
  }
 }

.container-fluid
{
  padding: 0;
  margin: 0;
}
.row{
  margin-left:0;
  margin-right:0;
}

h1{
  font-size: $headerTitle;
}
.msg-flash{
  font-size:1.5em;
}

.custom-file-label::after {
  content: $browse;
}