@import "app";

.header {
  padding-bottom: 2px;
  padding-top:20px;
  top : 0;
  background-color: $assoColor;
  border-bottom : 2px $headerBorderColor solid;
  h1{
    color: $bodyBackground;
  }
}

.wastity_blanc{
  height: $headerTitle;
}

.headerReturn{
  margin-top:10px;
  font-size: $headerTitle;
}
.headerText{
  margin-top:10px;
  margin-left:-30px;
  font-size:1em;
}

.form-control {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
}

a{
  color: $bodyBackground;
}
a:hover{
  color: $assoColorHover;
}

h1{
  color: $assoColor;
  font-size: $headerTitle;
}

.form-group{
  margin-bottom: 5px;
}
label{
  margin-bottom: 1px;
}

.fa-chevron-left{
  color: $bodyBackground;
}

.fas{
  color: $bodyBackground;
}

.associationOfferBorder {
  border: 1px $assoColor solid;
}

.btn-association {
  color: $primaryColor;
  background-color: $assoColor;
  border-color: $assoColor;
}

.btn-association:hover {
  color: $primaryColor;
  background-color: $assoColorHover;
  border-color: $assoColorHover;
}

.container {
  .card {
    border-color: $assoColor;
  }
}

.navbar{
  border-top : 2px $headerBorderColor solid;
  background-color: $assoColor;
}

@media screen and (max-width: 360px) {
  .navbar-brand{
    .fas{
      font-size:1em;
    }
    p {
      font-size: 0.5em;
      margin-bottom: 0;
    }
  }
}

.card {
  a:link
  {
    text-decoration:none;
  }
  a{
    color : black;
  }
  a:hover{
    color : $assoColor;
  }
}
.associationActive{
  color: darken($assoColor,30%)
}
