@import 'app';

.header {
  padding-bottom: 2px;
  padding-top:20px;
  top : 0;
  background-color: $companyColor;
  border-bottom : 2px $headerBorderColor solid;
  h1{
    color: $bodyBackground;
  }
}
.wastity_blanc{
  height: $headerTitle;
}

.headerReturn{
  margin-top:10px;
  font-size: $headerTitle;
}
.headerText{
  margin-top:10px;
  margin-left:-30px;
  font-size:1em;
}

.form-control {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
}

a{
  color: $bodyBackground;
}

a:hover{
  color: $companyColorHover;
}
h1{
  color: $companyColorHover;
  font-size: $headerTitle;
}

.form-group{
  margin-bottom: 5px;
}
label{
  margin-bottom: 1px;
}

.modal-title{
  font-size:1.2em;
  font-weight:bold;
}

.fas{
  color: $bodyBackground;
}

.container {
  .card {
    border-color: $companyColor;
  }
}

.fasResearchAssoc{
  color:$foodHeroColor;
}

.status{
  font-size:1.2em;
}

.navbar{
  border-top : 2px black solid;
  background-color: $companyColor;
}

@media screen and (max-width:370px){
  .navbar-brand{
    .fas{
      font-size:1.2em;
    }
  }

  .infos {
    width: 100%;
    table-layout: fixed;
    td {
      width: 60%;
      word-wrap: break-word;
    }
  }
}
.companyActive{
  color: darken($companyColor,30%)
}

.card-header{
  height: 12vh;
  color:$primaryColor;
  background-color: $companyColor;
  clip-path: polygon(0 0, 100% 0, 100% 85%,55% 85%,50% 100%,45% 85%,0 85%);
  h3{
    font-size: 2.7vh;
    font-weight: bold;
  }
  p{
    font-size: 1.8vh;
    margin-left: 15px;
  }
}

.card-body{
  .fas{
    color: $companyColor;
  }
  .imgOffer{
    margin: 1%;
  }
}

.fa{
  font-size: 4vh;
}