@import 'app';

.header {
  padding-bottom: 2px;
  padding-top:20px;
  top : 0;
  background-color: darken($primaryColor, 10%);
  border-bottom : 1px grey solid;
}
.headerReturn{
  margin-top:10px;
  font-size: $headerTitle;
}
.headerText{
  margin-top:10px;
  margin-left:-30px;
  font-size:1em;
}

.form-control {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
}

a{
  color: $companyColor;
}

a:hover{
  color: $companyColorHover;
}
h1{
  font-size: $headerTitle;
}

.form-group{
  margin-bottom: 5px;
}
label{
  margin-bottom: 1px;
}


.modal-title{
  font-size:1.2em;
  font-weight:bold;
}
.fas{
  color: $companyColor;
}

.container {
  .card {
    border-color: $companyColor;
  }
}

@media screen and (max-width:370px){
  .navbar-brand{
    .fas{
      font-size:1.2em;
    }
  }

  .infos {
    width: 100%;
    table-layout: fixed;
    td {
      width: 60%;
      word-wrap: break-word;
    }
  }
}
