@import "app";

body{
  margin-bottom: 0px;
}
.header {
  padding-bottom: 5px;
  padding-top: 10px;
  top : 0;
  background-color: darken($primaryColor,40%);
  box-shadow: 0 0 1.5em $headerBorderColor;
  h1{
    color: $bodyBackground;
    font-size: $headerTitle/1.2;
  }
  p {
    margin-bottom: 0;
  }
  a {
    color: $bodyBackground;
    font-weight: bold;
  }
  a:hover {
    color: $bodyBackground;
    font-weight: bold;
    text-decoration: none;
  }
}
body{
  height: auto;
  margin-bottom: 0;
}


.fh{
  @include card($foodHeroColor);
}

.comp{
  @include card($companyColor);
}

.asso {
  @include card($assoColor);
}