$foodHeroColorHover:#CE4414;

$assoColorHover:#2F973E;
$companyColor: #17A2B8;
$companyColorHover:#138496;

$bodyBackground : #eeeeee;
$headerTitle : 3vh;

$assoColor : #57a639;

$primaryColor: white;
$foodHeroColor: #E95420;

$companyColor: #17a2b8;
$companyColorHover: #138496;

$marginBottom : 100px;

$font : 'Montserrat', sans-serif;
$browse: 'Parcourir...';