$foodHeroColorHover:#CE4414;

$assoColorHover:#2F973E;
$companyColor: #17A2B8;
$companyColorHover:#138496;

$bodyBackground : #ffffff;
$headerTitle : 3.7vh;
$pictureTitle : 3.5vh;

$assoColor : #57a639;

$primaryColor: white;
$foodHeroColor: #E95420;

$companyColor: #17a2b8;
$companyColorHover: #138496;

$marginBottom : 100px;

$font : 'Montserrat', sans-serif;
$browse: 'Parcourir...';

$foodHeroBackground : rgba(234,83,32,0.03);
$companyBackground : rgba(23,162,184,0.05);
$associationBackground : rgba(87,166,57,0.05);

$headerBorderColor: grey;
$required : red;

$sizeTitlePage : 3.2vh;