
$primaryColor:#EEEEEE;
$foodHeroColor: #E95420;
$foodHeroColorHover:#CE4414;
$assoColor : #57a639;
$assoColorHover:#2F973E;
$companyColor: #17A2B8;
$companyColorHover:#138496;
$font : "'Montserrat', sans-serif";