{% extends 'base.html.twig' %}

{% block footer %}

    <nav class="navbar navbar-light">
        <a class="navbar-brand" href="#">
            <i class="fas fa-clipboard-list fa-2x"></i>
            <p>Missions</p>
        </a>
        <a class="navbar-brand" href="#">
            <i class="fas fa-dolly fa-2x"></i>
            <p>A faire</p>

        </a>
        <a class="navbar-brand" href="#">
            <i class="fas fa-clipboard-check fa-2x"></i>
            <p>Fait</p>

        </a>
    </nav>


{% endblock %}