<form method="post" action="{{ path('food_hero_delete', {'id': food_hero.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ food_hero.id) }}">
    <button class="btn">Delete</button>
</form>
