{% extends 'Visitor/FoodHero/layoutFoodHero.html.twig' %}

{% block title %}Modifier FoodHero{% endblock %}

{% block header %}
    {% include 'Visitor/FoodHero/headerFoodHero.html.twig' %}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center text-center">
            <div>
                <p class="fa-2x text-center text-primary mt-3 mb-2"><strong>Comment ça marche ?</strong>
                    <i class="ml-3 fas fa-cogs text-primary"></i></p>
            </div>
        </div>
        <div>
            <ul>
                <li>Dans l'onglet <strong class="text-primary">Missions</strong>, acceptez les missions de votre choix
                </li>
                <li>Récupérez les produits</li>
                <li>Dans l'onglet <strong class="text-primary">À faire</strong>, se trouvent vos missions acceptées</li>
                <li>Apportez-les directement à l'association bénéficiaire</li>
                <li>Retrouvez toutes vos missions effectuées dans l'onget <strong class="text-primary">Fait</strong>
                </li>
            </ul>
        </div>
        <h2 class="text-center text-primary foodheroEdit"><strong>Modifier mes informations</strong><i
                    class="ml-3 fas fa-pencil-alt text-primary"></i></h2>
        <div class="form-inline justify-content-center">
            <img class="profileImage img-fluid"
                 src="{{ foodhero.profileImage ? vich_uploader_asset(foodhero, 'profileImageFile') : asset('/build/images/wastityPlaceHolder.png') }}"
                 alt="Image de profil"/>
            {{ include('Visitor/FoodHero/_form.html.twig', {'button_label': 'Mettre à jour mes informations'}) }}
        </div>
        <div id="infoposition"></div>
    </div>
{% endblock %}
{% block javascripts %}{{ encore_entry_script_tags('geolocation') }}{% endblock %}