{% extends 'base.html.twig' %}

{% block title %}Edit FoodHero{% endblock %}

{% block body %}
    <h1>Edit FoodHero</h1>

    {{ include('FoodHero/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('food_hero_index') }}">back to list</a>

    {{ include('FoodHero/_delete_form.html.twig') }}
{% endblock %}
