{% extends 'Visitor/FoodHero/layoutFoodHero.html.twig' %}

{% block title %}Offer index{% endblock %}
{% block stylesheets %}{{ encore_entry_link_tags('css/appFoodHero') }}{% endblock %}

{% block body %}
    <div class="container mb-5 pb-5">
        <div class="row justify-content-center text-center">
            <div>
                <p class="fa text-center text-primary mt-3 mb-2"><strong>Liste des offres en attente</strong></p>
            </div>
        </div>
        <div class="row justify-content-center">
            {% for offer in offers %}
                {{ render(controller(
                    'App\\Controller\\FoodHeroController::showOneOffer', {'foodhero':foodhero.id, 'offer':offer.id}
                )) }}
            {% else %}
                <p><strong>Aucune Offre à afficher</strong></p>
            {% endfor %}

        </div>

    </div>

{% endblock %}
