 <nav class="navbar navbar-light fixed-bottom">
     <div class="row text-center">
         <div class="col-3">
             <a class="navbar-brand" href="{{ path('foodhero_list_offers', {'id' : foodhero.id} ) }}">
                 <i class="fas fa-clipboard-list fa-2x"></i>
                 <p>Missions</p>
             </a>
         </div>
         <div class="col-3">
             <a class="navbar-brand ml-2" href="{{ path('foodhero_list_pendingOffers', {'id' : foodhero.id}) }}">
                 <i class="fas fa-dolly fa-2x"></i>
                 <p>À faire</p>
             </a>
         </div>
         <div class="col-3">
             <a class="navbar-brand ml-3" href="{{ path('foodhero_list_collectedOffers', {'id' : foodhero.id}) }}">
                 <i class="fas fa-clipboard-check fa-2x"></i>
                 <p>Fait</p>
             </a>
         </div>
         <div class="col-3">
             <a class="navbar-brand" href="{{ path('foodhero_edit', {'id' : foodhero.id}) }}">
                 <i class="fas fa-user-tie fa-2x"></i>
                 <p>Admin</p>
             </a>
         </div>
     </div>
 </nav>
