<a class="btn btn-secondary my-2 ml-2 text-center"
   href="https://www.google.com/maps/dir/{{ offer.association.fullAddress }}/{{ offer.company.fullAddress }}/{{ app.session.get('latitude') }},{{ app.session.get('longitude') }}">Voir
    la carte</a>
