<form  method="post" action="{{ path('removeMemberAssociation', {'id': association.id, 'user': app.user.id}) }}" onsubmit="return confirm('Voulez vous vraiment quitter l\'entreprise ?');">
    <input type="hidden" name="_id" value={{ app.user.id }}>
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ app.user.id) }}">
    <button class="btn btn-success">Quitter l'entreprise</button>
</form>
