{% extends 'Visitor/Association/layoutAssociation.html.twig' %}

{% block title %}Modifier Association{% endblock %}
{% block header %}
    <div class="row">
        <a class="col-1" href="{{ path('profile_index') }}"><i class="fas fa-home"></i></a>
        <h1 class="col text-center">Modifier les informations de {{ association.name }}</h1>
    </div>
{% endblock %}

{% block body %}
    {{ include('Visitor/Association/_form.html.twig', {'button_label': 'Mettre à jour mon Association'}) }}
{% endblock %}
