{% extends 'Visitor/Association/layoutAssociation.html.twig' %}

{% block title %}Modifier Association{% endblock %}
{% block header %}
    <div class="row">
        <a class="col-1" href="{{ path('company_index') }}"><i class="fas fa-chevron-left"></i></a>
        <h1 class="col text-center">Modifier mes informations</h1>
    </div>
{% endblock %}

{% block body %}

    {{ include('Visitor/Association/_form.html.twig', {'button_label': 'Mettre à jour mon Entreprise'}) }}

{% endblock %}
