{% extends 'Visitor/Association/layoutAssociation.html.twig' %}

{% block header %}
    <div class="row header">
        <a class="col-3 text-center" href="{{ path('association_show', {'id': association.id}) }}"><i
                    class="fas fa-chevron-left"></i>
            <p class="d-none d-md-block">
                <img src="{{ asset('build/images/logo-wastity_blanc.png') }}" class="img-fluid wastity_blanc"></p></a>
        <h1 class="col text-center">Association</h1>
        <a class="col-3 text-center" href="/logout"><i class="fas fa-unlock"></i>
            <p class="d-none d-md-block">Déconnexion</p></a>
    </div>
{% endblock %}

    {% block body %}
        <main class="container">
            <div class="row justify-content-center text-center">
                <div>
                    <p class="fa-2x text-center text-success mt-3 mb-2"><strong>Modification des horraires</strong></p>
                </div>
                <div class="col-12 text-center text-success mt-3 mb-3">
                    <i class="far fa-calendar-alt fa-4x"></i>
                </div>
            </div>
            <div class="row">
                <div class="row text-center ">
                    {{ include('Visitor/Association/_formSchedule.html.twig', {'button_label': 'Enregistrer les horaires'}) }}
                </div>
            </div>
        </main>
    {% endblock %}
{% block footer %}{% endblock %}