{% extends 'Visitor/Association/layoutAssociation.html.twig' %}

{% block title %}Edit Association{% endblock %}

{% block body %}
    <h1>Edit Association</h1>

    {{ include('Visitor/Association/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('association_index') }}">back to list</a>

    {{ include('Visitor/Association/_delete_form.html.twig') }}
{% endblock %}
