{% extends 'Admin/layoutAdmin.html.twig' %}

{% block title %}Association index{% endblock %}

{% block body %}
    <div class="container">
    <h1 class="text-center">Liste des Associations</h1>

    <table class="table table table table-striped mt-5 mb-2">
        <thead>
        <tr>
            <th scope="col">Nom</th>
            <th scope="col">Ville</th>
            <th scope="col">actions</th>
        </tr>
        </thead>
        <tbody>
        {% for association in associations %}
            <tr>
                <td>{{ association.name }}</td>
                <td>{{ association.town }}</td>
                <td>
                    <a href="{{ path('association_show', {'id': association.id}) }}">Voir plus d'infos</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucune Association à afficher</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
