{% extends 'Visitor/Association/layoutAssociation.html.twig' %}

{% block title %}Offer index{% endblock %}
{% block stylesheets %}{{ encore_entry_link_tags('css/appAssociation') }}{% endblock %}

{% block body %}
    <div class="row header">
        <a class="col-1" href="{{ path('profile_index') }}"><i class="fas fa-home"></i></a>
        <h1 class="col text-center">Annonces</h1>
    </div>
    <div class="container">

        <h1 class="text-center">Liste des offres en attente d'association</h1>
        <div class="row justify-content-center">

            {% for offer in offers %}
                {{ render(controller(
                'App\\Controller\\AssociationController::showOneOffer', {'association':association.id, 'offer':offer.id}
                )) }}
                <div class=" d-flex justify-content-end">
                    <a href="{{ path('association_show_offer', {'association' : association.id , 'offer' : offer.id} ) }}"
                       class="btn btn-association align-content-end">Voir l'offre</a>
                </div>
            {% endfor %}

        </div>
    </div>
{% endblock %}