{% extends 'Visitor/Association/layoutAssociation.html.twig' %}

{% block title %}Offer index{% endblock %}
{% block stylesheets %}{{ encore_entry_link_tags('css/appAssociation') }}{% endblock %}

{% block header %}
    {% include 'Visitor/Association/headerAssociation.html.twig' %}
{% endblock %}

{% block body %}
    <div class="container">

        <div class="container mb-5 pb-5">
            <div class="row justify-content-center text-center">
                <div>
                    <p class="fa-2x text-center text-success mt-3 mb-2"><strong>Offres en attente</strong></p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-center">

                {% for offer in offers %}
                    {{ render(controller(
                        'App\\Controller\\AssociationController::showOneOffer', {'association':association.id, 'offer':offer.id}
                    )) }}
                    <div class=" d-flex justify-content-end">
                        <a href="{{ path('association_show_offer', {'association' : association.id , 'offer' : offer.id} ) }}"
                           class="btn btn-association align-content-end">Voir l'offre</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}