{% extends 'base.html.twig' %}

{% block stylesheets %}{{ encore_entry_link_tags('css/appAssociation') }}{% endblock %}

{% block title %}Wastity - Inscription Association{% endblock %}
{% block header %}
    {% include 'headerLogo.html.twig' with {'type': 'Association'} %}
{% endblock %}
{% block body %}
    <div class="form-inline justify-content-center">
        <p class="text-center mt-3 mb-3">
            <strong>Wastiti facilite la collecte des dons alimentaires pour votre association</strong><br/>
            en localisant en temps réel les offres des commerces à proximité
        </p>
    </div>
    {{ include('Visitor/Association/_form.html.twig') }}
{% endblock %}
