{% extends 'base.html.twig' %}

{% block stylesheets %}{{ encore_entry_link_tags('css/appAssociation') }}{% endblock %}

{% block title %}Inscription Association{% endblock %}

{% block header %}
    <div class="row">
        <a class="col-1" href="{{ path('profile_index') }}"><i class="fas fa-home"></i></a>
        <h1 class="col text-center">Inscription Association</h1>
    </div>
{% endblock %}

{% block body %}

    <div class="form-inline justify-content-center">
        <p class="text-center mt-3 mb-3">
            <strong>Wastiti facilite la collecte des dons alimentaires pour votre association</strong>
            en localisant en temps réel les offres des commerces à proximité
        </p>
    </div>

    {{ include('Visitor/Association/_form.html.twig') }}
{% endblock %}
