{% extends 'Visitor/Association/layoutAssociation.html.twig' %}

{% block title %}Offer index{% endblock %}
{% block stylesheets %}{{ encore_entry_link_tags('css/appAssociation') }}{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center">Offre sélectionnée</h1>
        <div class="row justify-content-center">

            {{ render(controller(
                'App\\Controller\\AssociationController::showOneOffer', {'association':association.id, 'offer':offer.id}
            )) }}

        </div>
        <div class=" d-flex justify-content-center">
            <a href="{{ path('association_accept_offer', {'association' : association.id , 'offer' : offer.id}) }}" class="btn btn-association align-content-end">Accepter l'offre</a>
        </div>
    </div>
{% endblock %}