<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <link rel="icon" href="{{ asset('/build/images/favicon.png') }}">

        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}

        {% endblock %}
    </head>
    <body>
    <header>
        {% block header %}{% endblock %}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }} text-center msg-flash">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    </header>
        {% block body %}{% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}

        <footer class="container-fluid">
            {% block footer %}
            {% endblock %}
        </footer>

    <script>
        document.querySelectorAll("summary").forEach( function (bouton) {
            bouton.addEventListener("click", function (e) {
                var text=e.target.childNodes[1];
                console.log(e.target.childNodes[0].className);

                if (text.textContent === "Voir moins") {
                    text.textContent = "Voir plus";
                    e.target.childNodes[0].className='fas fa-search-plus';
                } else {
                    text.textContent ='Voir moins';
                    e.target.childNodes[0].className='fas fa-search-minus';
                }
            });
        })
    </script>
    </body>
</html>
