{% extends 'base.html.twig' %}
{% block body %}
    <main class="container" >
    <header class="row justify-content-start align-items-center">
        <a href="#" class="col-3"><i class="fas fa-chevron-left"></i></a>
        <p class="col-9">Choisissez votre profil</p>
    </header>

    <section class="text-center">
        <div class="title">
        <b>Vous souhaitez contribuer à la réduction du gaspillage alimentaire?</b>
        <p >Indiquez-nous comment vous souhaitez agir.</p>
        </div>
        <article class="foodHeroProfil">
            <h1>Food Hero</h1>
            <p>Je souhaite aider les associations à collecter des offres alimentaires près de chez moi</p>
        </article >
        <article class="companyProfil">
            <h1>Entreprise</h1>
            <p>Je souhaite proposer mes surplus à une association d'aide alimentaire</p>
        </article>
        <article class="associationProfil">
            <h1>Association</h1>
            <p>Je représente une association qui souhaite bénéficier d'offres alimentaires</p>
        </article>

    </section>
    </main>

{% endblock %}