{% extends 'base.html.twig' %}

{% block stylesheets %}{{ encore_entry_link_tags('css/appProfile') }}{% endblock %}

        {% block header %}
            <div class="row justify-content-start align-items-center">
                <p class="col-12 text-center">Choisissez votre profil</p>
                <p class="offset-1"></p>
            </div>
        {% endblock %}
{% block body %}
    <main class="container mt-3">
<div class="fh">
        <section class=" bussinesscard">

            <div class="front">
                <div class="top">
                    <img class="image" src="{{ asset('build/images/super(3).png') }}" alt="superhero"/>
                </div>
                <div class="nametroduction">
                    <div class="name">Foodhero</div>
                    <div class="introduction mt-2">Je souhaite aider les associations à collecter des offres alimentaires.</div>
                </div>
            </div>
        </section>
</div>
        <div class="asso">
        <section class=" bussinesscard mt-3 ">

            <div class="front">
                <div class="top">
                    <img class="image" src="{{ asset('build/images/heart.png') }}" alt="superhero"/>
                </div>
                <div class="nametroduction">
                    <div class="name">Association</div>
                    <div class="introduction mt-2 pb-1">Je souhaite bénéficier d'offres alimentaires.</div>
                </div>
            </div>
        </section>
        </div>
        <div class="comp">
        <section class=" bussinesscard mt-3">

            <div class="front">
                <div class="top">
                    <img class="image" src="{{ asset('build/images/company.png') }}" alt="superhero"/>
                </div>
                <div class="nametroduction">
                    <div class="name">Entreprise</div>
                    <div class="introduction mt-2">Je souhaite proposer mes surplus à une association d'aide alimentaire.</div>
                </div>
            </div>
        </section>
        </div>
    </main>



{% endblock %}