<form  method="post" action="{{ path('removeMember', {'id': company.id, 'user': member.id}) }}" onsubmit="return confirm('Confirmez-vous la suppression de ce membre ?');">
    <input type="hidden" name="_id" value={{ member.id }}>
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ member.id) }}">
    <button class="btn btn-sm btn-link btn-outline-danger"><i class="fas fa-user-times"></i> </button>
</form>
