<div class="row">
    <div class="col text-center mt-1">
        {{ form_start(form) }}
        <div class="form-group">
            {{ form_widget(form) }}
        </div>
        <button class="btn btn-info mt-4 mb-1 mb-4">{{ button_label|default('Enregistrer Membre') }}</button>
        {{ form_end(form) }}
    </div>
</div>
