<form  method="post" action="{{ path('leaveCompany', {'id': company.id}) }}" onsubmit="return confirm('Voulez vous vraiment quitter l\'entreprise ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('leaveCompany') }}">
    <button class="btn btn-info">Quitter l'entreprise</button>
</form>
