{% extends 'Visitor/Company/layoutCompany.html.twig' %}

{% block header %}
    {% include 'Visitor/Company/headerCompany.html.twig' %}
{% endblock %}

{% block body %}
    <div class="container">
        {{ include('Visitor/Company/_form.html.twig', {'button_label': 'Mettre à jour mon Entreprise'}) }}
    </div>
{% endblock %}
