{% extends 'Visitor/Company/layoutCompany.html.twig' %}

{% block header %}
    <div class="row">
        <a class="col-1" href="{{ path('profile_index') }}"><i class="fas fa-home"></i></a>
        <h1 class="col text-center">Actualisation des informations de {{ company.name }}</h1>
    </div>
{% endblock %}

{% block body %}
    <div class="container">
        {{ include('Visitor/Company/_form.html.twig', {'button_label': 'Mettre à jour mon Entreprise'}) }}
    </div>
{% endblock %}
