{% block header %}
    <div class="row header">
        <a class="col-3" href="{{ path('profile_index') }}"><i class="fas fa-home fa-2x"></i></a>
        <h1 class="col text-center">{{ company.name }}</h1>
        <a class="col-3 text-right"><img src="{{ asset('build/images/logo-wastity_blanc.png') }}" class="img-fluid wastity_blanc"></a>
        <a class="col-1 text-center text-danger" href="/logout"><i class="fas fa-unlock text-danger"></i> Déconnexion</a>
    </div>
{% endblock %}
