{% extends 'Visitor/Company/layoutCompany.html.twig' %}

{% block title %}Wastity - Offres Entreprise{% endblock %}
{% block body %}
    <div class="container mb-5 pb-5">

        <div class="row justify-content-center text-center my-3">
            <h2>Offres en cours</h2>
        </div>
        <div class="row justify-content-center text-center">
            <a class="btn btn-info mb-1"
               href="{{ path('offer_new') }}"><i
                        class="fas fa-plus"></i> {{ button_label|default('Créer une nouvelle offre') }}</a>
        </div>

        <div class="row justify-content-center">
            {% for appointment in appointments %}
                {{ render(controller(
                    'App\\Controller\\CompanyController::showOneOffer', {'company':company.id, 'offer': appointment.id}
                )) }}
            {% endfor %}
        </div>
        <div class="d-flex justify-content-center mt-2">
            {{ knp_pagination_render(appointments) }}
        </div>
    </div>

{% endblock %}
