{% extends 'Visitor/Company/layoutCompany.html.twig' %}

{% block title %}Création Entreprise{% endblock %}

{% block header %}
    <div class="row">
        <a class="col-1" href="{{ path('company_index') }}">Retour</a>
        <h1 class="col text-center">Inscription Entreprise</h1>
    </div>
{% endblock %}
{% block body %}
    <div class="form-inline justify-content-center">
        <p class="text-center mt-3 mb-3">
            <strong>Rejoigner la communauté des commerces engagés contre le gaspillage alimentaire !</strong>
        </p>
    </div>
    <div class="container">
        {{ include('Visitor/Company/_form.html.twig') }}
    </div>
{% endblock %}
