{% extends 'Visitor/Company/layoutCompany.html.twig' %}

 {% block title %}Wastity - Statistiques Entreprise{% endblock %}


{% block body %}
    <div class="container mb-5 pb-5">

        <div class="row justify-content-center text-center">
            <div>
                <p class="fa text-center text-info mt-3 mb-2"><strong>Statistiques</strong></p>
            </div>
        </div>

        <div class="container">
            <div class="row text-info">
                <p><strong>Depuis votre inscription :</strong></p>
            </div>
            <div class="row justify-content-center ">
                <ul class="list-group">
                    <li class="list-group-item"><strong>{{ offers|length }}</strong> offres livrées</li>
                    <li class="list-group-item"><strong>{{ countAssociation }}</strong> associations bénéficiaires</li>
                    <li class="list-group-item"><strong>{{ weightTotal }}Kg</strong> sauvés du gaspillage</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}