{% extends 'Admin/layoutAdmin.html.twig' %}

{% block body %}
    <body>
    <div class="container-fluid">
        <div class="row justify-content-center pb-3">
            <div class="col-7 col-lg-5">
                <img src="{{ asset('build/images/logo-wastity.png') }}" class="img-fluid wastity">
            </div>
        </div>
        <div class="row justify-content-center pt-2">
            <div class="col-7 pb-5">
                <p class="fa-2x text-center text-danger"><strong>Page inaccessible</strong></p>
            </div>
            <div class="col-7">
                <p class="text-black-100 text-center community"><strong>Vous n'avez pas les droits nécessaire pour accéder à la page demandée. Merci de changer de page<br><br> ou <br><a href="{{ path('profile_index') }}">retournez à l'accueil</a>.</strong></p>
            </div>
        </div>
    </div>
    </body>

{% endblock %}




