{% extends 'base.html.twig' %}

{% block title %}Création Entreprise{% endblock %}

{% block body %}
    {% block header %}
        <div class="row">
            <a class="col-1" href="{{ path('compagny_index') }}">Retour</a>
            <h1 class="col text-center">Inscription Entreprise</h1>
        </div>
    {% endblock %}
    <div class="form-inline justify-content-center">
        <p class="text-center mt-3 mb-3">
            <strong>Rejoigner la communauté des commerces engagés contre le gaspillage alimentaire !</strong>
        </p>
    </div>
    <div class="container">
        {{ include('compagny/_form.html.twig') }}
    </div>
{% endblock %}
